* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

html, body {
	height: 100%;
}

body {
	font-size: 14px;
	font-family: ubuntu, helvetica, arial;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
	text-align: center;
}

h1, h2, p {
	color: #006699;
}

p {
	line-height: 150%;
	font-size: 120%;
}

.header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #006699;
	padding: 0;
	color: #eee;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
	.header ul li {
		display: inline-block;
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
		.header ul li a {
			padding: 6px 2px;
			background: #006699;
			text-decoration: none;
			font-size: 1.3em;
			color: white;
		}
		
		.header ul li a:hover {
			color: #66CCFF;
			box-shadow: 0px 1px 1px #666;
		}

.footer {
	position: absolute;
	z-index: 2;
	padding: 5px;
	background-color: #0099FF;
	text-align: center;
	height: 50px;
	width: 100%;
	bottom: 0;
}

	.footer ul li {
		display: inline-block;
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
		.footer ul li a {
			padding: 6px 2px;
			background: #0099FF;
			text-decoration: none;
			font-size: 1.3em;
			color: white;
		}
		
		.footer ul li a:hover {
			background-color: #66CCFF;
			box-shadow: 0px 1px 1px #666;
		}

		.footer ul li a:active {
			background-color: #ff8f00;
		}

.bullet {
	width:200px;
	margin:0 auto;
	text-align:left;
}
	.bullet ul li {
		line-height: 150%;
		font-size: 112%;
	}

.mission {
	width:300px;
	margin:0 auto;
	text-align: left;
}
	.mission dt {
		color: #006699;
		font-size:x-large;
		line-height: 175%;
		font-weight: bold;
	}

	.mission dd {
		font-size: 115%;
		
	}


@keyframes myfirst {
	from {background: red;}
	to {background: yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {background:red; left:0px; top:0px;}
	25%  {background:yellow; left:200px; top:0px;}
	50%  {background:blue; left:200px; top:200px;}
	75%  {background:green; left:-200px; top:200px;}
	100% {background:red; left:0px; top:0px;}
}

#test {
	width: 100px;
	height: 100px;
	position: relative;
	margin: auto;
	margin-top: 20px;
	background:red;
	animation:myfirst 5s;
	-webkit-animation:myfirst 5s; /* Safari and Chrome */
}